<script setup>
import { ref } from 'vue'
const state = ref(0)
function changeColor() {
  if (state.value === 2) {
    state.value = 0
    return
  }
  state.value++
}
setInterval(changeColor, 5000)
</script>
<template>
  <div
    :class="{ light: true, green: true, o100: state === 0, o20: state !== 0 }"
    id="greenLight"
  ></div>
  <div
    :class="{ light: true, yellow: true, o100: state === 1, o20: state !== 1 }"
    id="yellowLight"
  ></div>
  <div :class="{ light: true, red: true, o100: state === 2, o20: state !== 2 }" id="redLight"></div>
  <button @click="changeColor()">Change</button>
</template>
<style scoped>
.light {
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-radius: 50%;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.o20 {
  opacity: 0.2;
}

.o100 {
  opacity: 1;
}
</style>
