<script setup>
import { ref } from 'vue'
const count = ref(0)
const add = function () {
  count.value = count.value + 1
}
const dec = () => {
  if (count.value == 0) return
  count.value = count.value - 1
}
setInterval(add, 1000)
</script>
<template>
  {{ count }}
  <button @click="add()">+</button>
  <button @click="dec()">-</button>
</template>
<style scoped></style>
