<script setup>
import HelloComponent from '../components/HelloComponent.vue'
import ColorComponent from '../components/ColorComponent.vue'
</script>
<template>
  <div>HelloView</div>
  <HelloComponent></HelloComponent>
  <ColorComponent></ColorComponent>
</template>
<style scoped></style>
