<script setup>
import TheWelcome from '../components/TheWelcome.vue'
import { onMounted } from 'vue'
import { ref } from 'vue'
import http from '../http'
const data = ref(null)
async function getHello() {
  try {
    const res = await http.get('/')
    console.log(res)
    data.value = res.data.Hello
  } catch (err) {
    console.log(err)
  } finally {
    console.log('Finally')
  }
}
onMounted(() => {
  console.log('HomeView mounted')
  getHello()
  // axios.get('http://127.0.0.1:8000/').then((res) => {
  //   console.log(res.data)
  //   console.log(res.status)
  // }).catch((err) => {
  //   console.log(err)
  // }).finally(()=>{
  //   console.log('Finally')
  // })

  console.log('Finish')
})
</script>

<template>
  <main>
    {{ data }}
    <TheWelcome />
  </main>
</template>
