<script setup>
import { reactive, onMounted } from 'vue'
import http from '../http'
async function setLight(lid, value) {
  // await axios.put('http://127.0.0.1:8000/lights/'+lid+'/' +value)
  try {
    await http.put('/lights/', {
      id: lid,
      status: value
    })
  } catch (err) {
    console.log(err)
  }
}
async function getLights() {
  const res = await http.get('/lights/')
  console.log(res.data)
  lights.l1 = res.data.l1
  lights.l2 = res.data.l2
  lights.l3 = res.data.l3
  lights.l4 = res.data.l4
  lights.l5 = res.data.l5
}
onMounted(() => {
  console.log('LightView mounted')
  getLights()
})
const lids = ['l1', 'l2', 'l3', 'l4', 'l5']
for (let lid of lids) {
  console.log(lid)
}
const lights = reactive({
  l1: false,
  l2: false,
  l3: false,
  l4: false,
  l5: false
})
async function turn(lid) {
  await setLight(lid, !lights[lid])
  await getLights()
  // lights[lid] = !lights[lid]
}
setInterval(async () => {
  await getLights()
}, 1000)
</script>
<template>
  <div>
    <ul>
      <li v-for="(lid, index) of lids" :key="index">{{ index }} {{ lid }}</li>
    </ul>

    <div
      v-for="(lid, index) of Object.keys(lights)"
      :class="{ light: true, on: lights[lid], off: !lights[lid] }"
      v-on:click="turn(lid)"
      :key="index"
    >
      {{ lid }}
    </div>
  </div>
</template>
<style scoped>
.light {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 50%;
  display: table-cell;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

.on {
  background-color: yellow;
}

.off {
  background-color: gray;
}
</style>
