<script setup>
import { ref } from 'vue'
const num1 = ref(0)
const num2 = ref(0)
const result = ref(0)
function calculate() {
  result.value = num1.value + num2.value
}
</script>
<template>
  <input type="text" v-model.number="num1" /> + <input type="text" v-model.number="num2" /> =
  {{ result }} <button @click="calculate()">Calculate</button>
</template>
<style scoped></style>
