<script setup>
import { ref, computed } from 'vue'
import http from '../http'
const celcius = ref(0)
const fahrenheit = ref(0)
const valid = ref(false)
const cf = computed(() => (celcius.value * 9.0) / 5 + 32)
async function apiCalTemp() {
  // const res = await axios.get('http://127.0.0.1:8000/celcius/'
  //     +celcius.value+'/farenheit/')
  const res = await http.get('/celcius/?c=' + celcius.value)
  fahrenheit.value = res.data.fahrenheit
  console.log(res.data)
}
function cal() {
  if (!valid.value) return
  apiCalTemp()
  console.log('Finish')
}
</script>
<template>
  <v-sheet width="300" class="mx-auto">
    <v-form @submit.prevent v-model="valid">
      <v-text-field
        v-model.number="celcius"
        :rules="[(v) => !!v || 'Celcius is empty!!']"
        label="Celcius"
      ></v-text-field>
      <v-btn type="submit" block class="mt-2" @click.prevent="cal()">Submit</v-btn>
    </v-form>
    <div class="mx-auto text-center text-h4 ma-6">{{ fahrenheit }}</div>
    {{ valid }}
    <div class="mx-auto text-center text-h4 ma-6">{{ cf }}</div>
  </v-sheet>
</template>
<style scoped></style>
