<script setup>
import { reactive } from 'vue'
const todo = reactive({
  list: [
    { id: 1, title: 'เล่นเกมส์', status: false },
    { id: 2, title: 'ออกกำลังกาย', status: false },
    { id: 3, title: 'ทำการบ้าน', status: false }
  ],
  lastId: 4,
  newTask: ''
})
function addTask() {
  const task = { id: todo.lastId, title: todo.newTask, status: false }
  todo.list.push(task)
  todo.lastId++
  todo.newTask = ''
}
function deleteTask(task) {
  const index = todo.list.findIndex(function (item) {
    return item.id === task.id
  })
  todo.list.splice(index, 1)
}
function doTask(task) {
  if (task.status === true) {
    deleteTask(task)
    return
  }
  task.status = true
  console.log(task)
}
</script>
<template>
  <div>
    <input type="text" v-model="todo.newTask" /><button @click="addTask()">Add Task</button>
  </div>
  <div>
    <ol>
      <li v-for="(task, index) of todo.list" :key="index" :class="{ finished: task.status }">
        {{ task.title }} <button @click="doTask(task)">X</button>
      </li>
    </ol>
  </div>
</template>
<style scoped>
.finished {
  text-decoration: line-through;
}
</style>
