<script setup>
import { ref, reactive } from 'vue'
import http from '../http'
const file = ref()
const data = reactive({
  text: '',
  color: '#FF0000',
  x: 100,
  y: 100
})
const image = ref('./src/assets/img_avatar2.png')
function convertHexToRGB(hex) {
  // ตัด # ออกจากรหัสสี
  hex = hex.replace('#', '')

  // แยกส่วนของค่าแดง (red), เขียว (green), และน้ำเงิน (blue)
  const red = parseInt(hex.substring(0, 2), 16)
  const green = parseInt(hex.substring(2, 4), 16)
  const blue = parseInt(hex.substring(4, 6), 16)

  // ส่งค่าเป็นออบเจ็กต์ที่มีค่า r, g, b
  return { r: red, g: green, b: blue }
}
async function upload() {
  const formData = new FormData()
  const color = convertHexToRGB(data.color)
  formData.append('text', data.text)
  formData.append('r', color.r)
  formData.append('g', color.g)
  formData.append('b', color.b)
  formData.append('x', data.x)
  formData.append('y', data.y)
  formData.append('file', file.value[0])
  console.log(formData)
  const res = await http.post('/label', formData)
  console.log(res.data.result)
  image.value = res.data.result
}
//@change =
function handleFileUpload() {
  const reader = new FileReader()
  reader.onload = function () {
    image.value = reader.result
  }
  reader.readAsDataURL(file.value[0])
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-img :src="image" style="height: 300px"></v-img>
            </v-col>
            <v-col cols="12">
              <v-file-input
                accept="image/*"
                label="File input"
                v-model="file"
                @change="handleFileUpload()"
              ></v-file-input>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Text" v-model="data.text"></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field label="x" v-model="data.x"></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field label="y" v-model="data.y"></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <v-btn class="w-100 ma-2" color="primary" @click="upload()">Upload</v-btn>
        <v-color-picker class="mx-auto" v-model="data.color" show-swatches></v-color-picker>
      </v-col>
    </v-row>
  </v-container>
  <div>{{ data }} {{ file }} {{ convertHexToRGB(data.color) }}</div>
</template>
<style></style>
