<script setup>
import http from '../http'
import { ref, reactive, onMounted } from 'vue'

const form = ref(null)
const valid = ref(false)

async function getUsers() {
  const res = await http.get('/users')
  console.log(res.data)
  userList.value = res.data
}
onMounted(() => {
  console.log('UserView mounted')
  getUsers()
  console.log('UserView finished')
})
const userList = ref([])
const user = reactive({
  id: -1,
  email: '',
  password: '',
  name: '',
  age: 0
})

function editUser(item) {
  console.log(item)
  user.id = item.id
  user.email = item.email
  user.password = item.password
  user.name = item.name
  user.age = item.age
}
async function deleteUser(deleteUser) {
  await http.delete('/users' + deleteUser.id)
  await getUsers()
}
async function save() {
  if (!valid.value) return
  if (user.id < 0) {
    const newUser = {
      email: user.email,
      password: user.password,
      name: user.name,
      age: user.age
    }
    await http.post('/users', newUser)
    await getUsers()
  } else {
    // Edit
    const editedUser = {
      id: user.id,
      email: user.email,
      password: user.password,
      name: user.name,
      age: user.age
    }
    await http.put('/users/' + editedUser.id, editedUser)
    await getUsers()
  }

  clearForm()
}
function clearForm() {
  user.id = -1
  user.name = ''
  user.email = ''
  user.password = ''
  user.age = 0
  form.value.reset()
}
function addNew() {
  clearForm()
}
</script>
<template>
  <v-form v-model="valid" ref="form">
    <v-container>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            autofocus
            v-model="user.email"
            :rules="[
              (v) => !!v || 'E-mail is empty!!!',
              (v) =>
                /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email is not valid!!'
            ]"
            label="E-mail"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="user.password"
            :rules="[
              (v) => !!v || 'Password is empty!!!',
              (v) =>
                /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/.test(v) ||
                'Password is invalid!!!'
            ]"
            label="Password"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="user.name"
            :rules="[(v) => !!v || 'Name is empty!!!']"
            label="Name"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="6">
          <v-text-field
            v-model.number="user.age"
            :rules="[(v) => !!v || 'Age is empty!!!']"
            label="Age"
            required
          ></v-text-field>
        </v-col>
        <v-col>
          <pre>{{ user }}</pre>
        </v-col>
        <v-col><v-btn @click="save()">Save</v-btn></v-col>
      </v-row>
    </v-container>
  </v-form>
  <v-btn @click="addNew()">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>#Id</th>
        <th>E-Mail</th>
        <th>Password</th>
        <th>Name</th>
        <th>Age</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) of userList" :key="index">
        <td>{{ item.id }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.age }}</td>
        <td>
          <v-btn @click="editUser(item)">Edit</v-btn><v-btn @click="deleteUser(item)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
<style></style>
