<script setup>
import { ref } from 'vue'
const score = ref(0)
const grade = ref('?')
function show() {
  if (score.value >= 80) {
    grade.value = 'A'
  } else if (score.value >= 70) {
    grade.value = 'B'
  } else if (score.value >= 60) {
    grade.value = 'C'
  } else if (score.value >= 50) {
    grade.value = 'D'
  } else {
    grade.value = 'F'
  }
}
</script>
<template>
  <input type="text" v-model.number="score" />
  <button @click="show()">Show</button>
  {{ grade }}
</template>
<style scoped></style>
