<script setup>
import { ref } from 'vue'
const name = ref('Kob')
const hello = () => {
  console.log('Hello')
}
</script>
<template>
  <div>
    สวัสดี {{ name }}
    <input type="text" v-model="name" />
    <button @click="hello()">Hello</button>
  </div>
</template>
<style scoped></style>
