<script setup>
import { reactive } from 'vue'
const lids = ['l1', 'l2', 'l3', 'l4', 'l5']
for (let lid of lids) {
  console.log(lid)
}
const lights = reactive({
  l1: false,
  l2: false,
  l3: false,
  l4: false,
  l5: false
})
function turn(lid) {
  lights[lid] = !lights[lid]
}
</script>
<template>
  <div>
    <ul>
      <li v-for="(lid, index) of lids" :key="index">{{ index }} {{ lid }}</li>
    </ul>

    <div
      v-for="(lid, index) of Object.keys(lights)"
      :class="{ light: true, on: lights[lid], off: !lights[lid] }"
      v-on:click="turn(lid)"
      :key="index"
    >
      {{ lid }}
    </div>
  </div>
</template>
<style scoped>
.light {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 50%;
  display: table-cell;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

.on {
  background-color: yellow;
}

.off {
  background-color: gray;
}
</style>
