<script setup>
import { ref } from 'vue'
import MenuComponent from './MenuComponent.vue'
const drawer = ref(true)
const rail = ref(true)
</script>
<template>
  <v-layout>
    <v-app-bar title="Application bar"></v-app-bar>

    <v-navigation-drawer expand-on-hover rail>
      <v-list>
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
          title="Sandra Adams"
          subtitle="sandra_a88@gmailcom"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <MenuComponent></MenuComponent>
    </v-navigation-drawer>

    <v-main style="min-height: 300px">
      <div style="margin: 50px; padding: 50px; border-width: 1; border-style: solid">
        <RouterView></RouterView>
      </div>
    </v-main>
  </v-layout>
</template>
<style scoped></style>
