<script setup>
import { useUserStore } from '../stores/user'

const userStore = useUserStore()
</script>
<template>
  <v-list density="compact" nav>
    <v-list-item prepend-icon="mdi-chart-bar" title="Chart" value="Chart" to="/chart"></v-list-item>
    <v-list-item prepend-icon="mdi-image" title="Image" value="image" to="/image"></v-list-item>
    <v-list-item prepend-icon="mdi-account" title="User" value="user" to="/user"></v-list-item>
    <v-list-item
      prepend-icon="mdi-oil-temperature"
      title="C to F"
      value="ctof"
      to="/ctof"
    ></v-list-item>
    <v-list-item
      prepend-icon="mdi-weather-sunny"
      title="Hello"
      value="hello"
      to="/hello"
    ></v-list-item>
    <v-list-item prepend-icon="mdi-plus" title="Plus" value="plus" to="/plus"></v-list-item>
    <v-list-item prepend-icon="mdi-lightbulb" title="Light" value="light" to="/light"></v-list-item>
    <v-list-item
      prepend-icon="mdi-counter"
      title="Counter"
      value="counter"
      to="/counter"
    ></v-list-item>
    <v-list-item
      prepend-icon="mdi-alphabetical"
      title="Grade"
      value="grade"
      to="/grade"
    ></v-list-item>
    <v-list-item
      prepend-icon="mdi-traffic-light"
      title="Color"
      value="color"
      to="/color"
    ></v-list-item>
    <v-list-item prepend-icon="mdi-login" title="Login" value="login" to="/login"></v-list-item>
    <v-list-item prepend-icon="mdi-scale" title="Bmi" value="bmi" to="/bmi"></v-list-item>
    <v-list-item
      prepend-icon="mdi-format-list-checks"
      title="Todo"
      value="todo"
      to="/todo"
    ></v-list-item>
  </v-list>
</template>
<style scoped></style>
