<script setup>
import { ref } from 'vue'
import { RouterLink, RouterView } from 'vue-router'
import MenuComponent from './components/MenuComponent.vue'
import MainComponent from './components/MainComponent.vue'
</script>

<template>
  <MainComponent></MainComponent>
</template>

<style scoped></style>
